@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-weight: bold;
  font-size: 32px;
  margin: 10px 0;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}

h5 {
  font-weight: bold;
  font-size: 12px;
  margin: 10px 0;
}

button {
  cursor: pointer;
  background-color: rgb(56, 133, 247);
  color: white;
  padding: 10px 20px;
}

.heart-icon {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 100px;
  height: 100px;
  background: url("https://webjems-strapi-assets.s3.amazonaws.com/like_heart_23edc61bbd.png")
    no-repeat;
  background-position: 0 0;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  cursor: inherit;
}

.heart-icon.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.heart-placement {
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 1;
}

.heart-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
}
